* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general css start  */

:root {
    --white: #fff;
    --black: #000;
    --acc-color: #17479E;
    --border-color: #dcdcdc;
    --light-grey: #AAA;
    --active-bg: #C7DBFF;
    --search-bg: #fcfcfc;
    --btn-red: #E73725;
    --font-color: #505050;
    --light-bg: #f8f8f8;
    --save-btn: #077838;
}

.common-fonts {
    color: #000;
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.02563rem;
}

/* general css start ends */

/* landing page top css starts */

.landing-page-container {
    background-color: var(--white);
}

.landing-page-box {
    max-width: 480px;
    margin: 0 auto;
}

.landing-page-player {
    width: 2.19506rem;
    height: 2.125rem;
    border-radius: 50%;
    margin-left: 0.8rem;
    cursor: pointer;
}

.landing-page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

.landing-page-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-search {
    margin-left: 0.8rem;
    background-color: var(--search-bg);
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.landing-page-menu {
    cursor: pointer;
}

/* landing page top css ends */


/* profile page additional css starts here */

.profile-img-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.profile-change-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.profile-player {
    width: 4.64838rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;

}

.profile-note {
    border: 1px solid var(--border-color);
    padding: 0.44rem 0.6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: max-content;

}

.profile-change-text {
    color: var(--font-color);
    margin-right: 0.5rem;
    cursor: pointer;
}

/* bascic info section starts here  */
.profile-basic-info {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.profile-basic-text {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.94rem;
}

.profile-cards {
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 1rem;
    padding: 0.6rem;
    cursor: pointer;
}

.profile-user-icon {
    margin-right: 0.88rem;
}

.profile-input-section {
    width: 100%;
}

.profile-input-label {
    color: var(--light-grey);
    font-size: 0.75rem;
}

.profile-input {
    font-size: 1rem;
    outline: none;
    border: none;
    width: 100%;
    background-color: none;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* bascic info section ends here  */

/* trophy section starts here  */

.profile-trophy {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.profile-trophy-heading {
    font-size: 1.125rem;
    font-weight: 700;
}

.profile-add-btn{
    border: 1px solid var(--btn-red);
    background-color: var(--white);
    color: var(--btn-red);
    cursor: pointer;
    padding: 0.62rem 0.94rem;
    text-align: center;
}

.profile-league-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border:1px solid var(--border-color);
    padding: 0.94rem;
    margin-bottom: 1rem;
}

.profile-league-open{
    background-color: var(--light-bg);
    margin-bottom: 0;
}

.profile-league{
    display: flex;
    justify-content: start;
    align-items: center;
}

.profile-league-input {
    outline: none;
    border: none;
    width: 100%;
    background-color: none;
    font-weight:bold;
}

.profile-league-text{
    margin-left: 0.5rem;
    font-weight: 600;
}

.profile-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-league-select {
    padding: 0;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    width: 100%;
    outline: none;
    cursor: pointer;
    padding-left: 0.88rem;
    background:none;
}

.profile-sports{
    padding-left: 0.88rem;
}

.profile-dropdown{
   background-color: var(--white);
}

.profile-league-wrapper{
    border: 1px solid var(--border-color);
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
/* trophy section ends here  */

.profile-about{
    margin-left: 1rem;
    margin-right: 1rem;
    border:1px solid var(--border-color);
    padding: 0.94rem;
}

.profile-about-text{
    text-align: justify;
    color: var(--font-text);
}

.profile-carrier{
    margin-bottom: 0;
    margin-bottom: 1.25rem;
}

.profile-international{
    margin-bottom: 1.25rem;
    margin-left: 1rem;
}

.profile-carrier-text{
    font-size: 1rem;
    font-weight: 600;
}

.profile-gallery{
    margin-left: 1rem;

}

.profile-gallery-text{
    margin-top: 2rem;
}

.profile-gallery-btn{
    margin-top: 0;
    margin-top:1rem;
}

.image-scroll-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping onto new lines */
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.image-row {
    flex: 0 0 auto;
    display: inline-block;
    max-height: 100vh; /* Adjust as needed */
    margin-right: 10px; /* Adjust spacing between images */
    position: relative;
}

.profile-ground {
    width: 17.5rem;
    height: 8.5rem;
    border-radius: 0.3125rem;
    display: block;
    
}

.profile-img-delete{
    padding:0.5rem;
    background-color: var(--btn-red);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.profile-img-video{
    padding:0.5rem;
    background-color: var(--acc-color);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    top:80%;
    left:80%;
    transform: translate(-50%, -50%);
}

.profile-delete-play{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-vedio-delete{
    padding:0.5rem;
    background-color: var(--btn-red);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;

}

.profile-vedio-play{
    padding:0.5rem;
    background-color: var(--acc-color);
    border-radius: 50%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.vedio-section{
    margin-top: 2rem;
}


/* button section  */

.profile-bottom-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.profile-cancel{
border:1px solid var(--btn-red);
padding:0.4rem 1.5rem;
background-color: var(--white);
color:var(--btn-red);
margin-right: 1rem;
}

.profile-save{
     border: 1px solid transparent;
     color:var(--white);
     padding:0.4rem 1.5rem;
     width:6rem;
     background-color: var(--save-btn);
}
/* button section ends */






/* profile page additional css ends here */